* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

#nav {
  width: 100%;
  height:10%;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  display: flex;
}

.button {
  background-color: #fff;
  color: #000;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button::hover {
  background-color: #000;
  color: #fff;
}

#screen {
  color: lightseagreen;
  border: 2px solid lightseagreen;
}

#test {
  color: lightpink;
  border: 2px solid lightpink;
}

#myScripts {
  color: lightskyblue;
  border: 2px solid lightskyblue;
}

#add-remove {
  color: yellow;
  border: 2px solid yellow;
}

a {
  text-decoration: none;
}

.panel {
  width: 4rem;
  height: 2rem;
  font-size: 10px;
  margin: auto;
  margin-top: 10rem;
  vertical-align: middle;
  border: solid 2px lightseagreen;
  text-align: center;
  justify-content: center;
  align-self: center;
  justify-content: center;
  position: relative;

  animation-name: move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  /* animation-timing-function: linear; */
  animation-duration: 5s;
  /* animation: move 5s; */
  -webkit-animation: move 5s infinite alternate;
  -moz-animation: move 5s infinite alternate;
}

@keyframes move {
  from {
    background-color: lightpink; 
    /* left: 0px; */
    width: 200px;
    height: 100px;
  }
  to {
    background-color:lightskyblue;
    /* left: 200px; */
    width: 300px;
    height: 200px;
  }
}


const nodeh1 = document.queryselect